.footer {
  height: 100%;
  padding: var(--pp-desktop);
  background-color: var(--c-white-d);
  border-top: 0.1rem solid var(--c-gray-d);

  &_extended {
    padding: var(--pp-desktop);
    height: 100%;
  }

  &__content {
    display: grid;
    max-width: 144rem;
    margin: 0 auto;
    grid-template-rows: 30rem 10rem;

    @media only screen and (max-width: 75em) {
      grid-template-rows: 30rem 15rem;
    }

    @media only screen and (max-width: 37.5em) {
      grid-template-rows: 42rem 35rem;
    }
  }

  &_top {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--c-gray-d);

    @media only screen and (max-width: 37.5em) {
      grid-template-columns: 1fr;
    }

    &__right {
      text-align: start;
    }

    &__left {
      display: block;
    }
  }

  &__link {
    color: var(--c-blue);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--c-blue-d);
    }
  }

  &__social {
    margin-top: 1rem;

    & a {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &__icon {
    font-size: 4rem;
    color: var(--c-blue);
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }

  &__address {
    margin-top: 2rem;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 56.25em) {
      flex-direction: column-reverse;
      padding: 4rem;
    }
  }

  &__copyright {
    display: block;
  }
}
