.footer {
  height: 40rem;
  padding: var(--pp-desktop);
  background-color: var(--c-white-d);
  border-top: 0.1rem solid var(--c-gray-d);

  &_extended {
    height: 40rem;
    width: 144rem;
    margin: 0 auto;
  }

  &__content {
    display: grid;
    width: 100%;
    grid-template-rows: 30rem 10rem;
  }

  &_top {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--c-gray-d);

    &__right {
      text-align: start;
    }

    &__left {
    }
  }

  &__link {
    color: var(--c-blue);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--c-blue-d);
    }
  }

  &__social {
    margin-top: 1rem;
  }

  &__icon {
    font-size: var(--fs-5);
    color: var(--c-blue);
    transition: opacity 0.2s ease-in-out;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__address {
    margin-top: 2rem;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    display: block;
  }
}
