.btn {
  &__icon {
    margin-left: 0.5rem;
  }

  &_primary {
    display: flex;
    align-items: center;
    background-color: var(--c-orange-d);
    padding: 0.8rem 8rem;
    color: var(--c-white);
    font-weight: 700;
    font-size: var(--fs-2);
    border-radius: var(--br);
    border: none;
  }

  &_secondary {
    display: flex;
    align-items: center;
    background-color: var(--c-blue-d);
    padding: 1rem 2rem;
    color: var(--c-white);
    font-weight: 700;
    font-size: var(--fs-2);
    border-radius: var(--br);
    border: none;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.12);
  }

  &_tertiary {
  }

  &__cta {
    &_primary {
      display: flex;
      align-items: center;
      background-color: var(--c-orange-d);
      padding: 1.2rem 8rem;
      color: var(--c-white);
      font-weight: 700;
      font-size: var(--fs-3);
      border-radius: var(--br-2);
      border: none;
    }

    &_secondary {
      display: flex;
      align-items: center;
      background-color: transparent;
      padding: 1.2rem 3rem;
      color: var(--c-white);
      font-weight: 700;
      font-size: var(--fs-3);
      border: 0.2rem solid var(--c-white);
      border-radius: var(--br);
    }
  }
}
