/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* VARIABLES */

:root {
  --ff: 'Inter', sans-serif;
  --fs: 1.2rem;
  --fs-1: 1.4rem;
  --fs-2: 1.6rem;
  --fs-3: 1.8rem;
  --fs-4: 2.4rem;
  --fs-5: 3.6rem;
  --fs-6: 4.8rem;
  --lh: 1;
  --lh-2: 1.3;
  --lh-3: 1.58;

  --br: 0.4rem;
  --br-2: 100rem;

  --pp-desktop-h: 0 8rem;
  --pp-desktop: 0 4rem;
  --ms-desktop: 8rem 0;

  --c-white: #fff;
  --c-white-d: #f9f9f9;
  --c-gray: #eee;
  --c-gray-d: #ddd;
  --c-black: #222;
  --c-black-l: #525252;
  --c-black-l-2: #717171;
  --c-black-l-3: rgba(113, 113, 113, 0.6);
  --c-blue: #5269ff;
  --c-blue-d: #485de4;
  --c-blue-l: #8494ff;
  --c-orange: #fdbd5c;
  --c-orange-d: #ffa721;
  --c-red: #ff2121;
  --c-green: #14b266;
}

/* RESET */

::-moz-selection {
  background-color: var(--c-orange-d);
  color: var(--c-white);
}

::selection {
  background-color: var(--c-orange-d);
  color: var(--c-white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  font-size: var(--fs-2);
  min-height: 100vh;
  color: var(--c-black);
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
button,
textarea {
  font-size: var(--fs-2);
  font-family: var(--ff);
}

main {
  width: 100%;
}

footer {
  max-width: 144rem;
}

/* COMMON */

h1 {
  font-size: var(--fs-6);
  font-weight: 700;
  color: var(--c-white);
}

h2 {
  font-size: var(--fs-5);
  font-weight: 700;
  color: var(--c-blue);
}

h3 {
  font-size: var(--fs-4);
  font-weight: 700;
  color: var(--c-blue);
  line-height: var(--lh-3);
}

h4 {
  font-size: var(--fs-3);
  font-weight: 700;
  color: var(--c-black);
}

h5 {
  font-size: var(--fs-2);
  font-weight: 700;
  color: var(--c-black);
}

.center {
  text-align: center;
}

.dot {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  border-radius: var(--br-2);

  &__let {
    background-color: var(--c-green);
  }

  &__medium {
    background-color: var(--c-orange);
  }

  &__svær {
    background-color: var(--c-red);
  }
}

.green_text {
  color: var(--c-green) !important;
}

.orange_text {
  color: var(--c-orange) !important;
}

.red_text {
  color: var(--c-red) !important;
}

.white_text {
  color: var(--c-white) !important;
}
