.app {
  display: grid;
  grid-template-rows: 8rem 1fr;

  &_home {
    display: grid;
    grid-template-rows: 65rem 1fr;
  }
}

.home {
  display: grid;
  grid-template-rows: 74rem 90rem 52rem;
  margin-bottom: 20rem;
}

.main-content {
  min-height: calc(100vh - 8rem);
}

.trips {
  display: grid;
  padding: var(--pp-desktop);
  grid-template-columns: 55% 45%;
  gap: 0 4rem;
  margin: 0 auto;

  &_listing_full {
    grid-template-columns: 1fr;
    padding: var(--pp-desktop);
  }
}
