.app {
  display: grid;
  grid-template-rows: 10rem 1fr 15rem;
  gap: 6rem 0;

  &_home {
    grid-template-rows: 64rem 1fr 15rem;
  }
}

.main-content {
  padding: var(--pp-desktop);
}

.trips {
  display: grid;
  grid-template-columns: 4fr 3fr;
  max-width: 144rem;
  margin: 0 auto;
}
