.app {
  display: grid;
  grid-template-rows: 8rem 1fr;

  &_home {
    grid-template-rows: 64rem 1fr 15rem;
  }
}

.home {
  display: grid;
  grid-template-rows: 70rem 80rem 50rem;
}

.main-content {
  padding: var(--pp-desktop);
}

.trips {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 0 4rem;
  margin: 0 auto;

  &_listing_full {
    grid-template-columns: 1fr;
  }
}
