.home {
  // PLACES SECTION
  &_places {
    max-width: 144rem;
    margin: 8rem auto 0 auto;

    &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 2rem;
      margin-top: 6rem;
    }

    &__img {
      display: block;
      width: 100%;
      height: 25rem;
      object-fit: cover;
      border-top-left-radius: var(--br);
      border-top-right-radius: var(--br);
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      height: 100%;
      max-height: 20rem;

      & > button {
        align-self: end;
        justify-self: end;
        margin-top: auto;
      }
    }

    &__desc {
      color: var(--c-black-l-2);
      font-size: var(--fs);
      line-height: var(--lh-2);
      margin-top: 0.6rem;
      margin-bottom: 2rem;
    }
  }

  // TRIPS SECTION
  &_trips {
    padding: var(--ms-desktop);
    background-color: var(--c-white-d);
    height: 100vh;
  }

  // NEWSLETTER SECTION
  &_newsletter {
    padding: var(--ms-desktop);
    background-color: var(--c-blue);

    &__content {
      width: 70rem;
      margin: 0 auto;

      & > h1 {
        margin-bottom: 2rem;
      }

      & > h4 {
        line-height: var(--lh-2);
        width: 56rem;
      }
    }

    &__form {
      margin-top: 4rem;
      padding: 5rem 6rem;
      background-color: var(--c-white);
      height: 36rem;
      width: 100%;
      border-radius: var(--br);
      border: 0.1rem solid var(--c-gray);
      box-shadow: 0 1rem 4rem 0.4rem rgba(0, 0, 0, 0.1);
    }
  }
}
