.home {
  // PLACES SECTION
  &_places {
    margin: 8rem 0 16rem 0;
    padding: var(--pp-desktop-h);

    @media only screen and (max-width: 37.5em) {
      padding: var(--pp-desktop);
      margin: 8rem 0 10rem 0;
    }

    &__container {
      display: grid;
      max-width: 144rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 6rem 3rem;
      margin: 6rem auto 0 auto;

      & > div {
        @media only screen and (max-width: 75em) {
          justify-self: center;
        }

        @media only screen and (max-width: 56.25em) {
          width: 50rem;
        }

        @media only screen and (max-width: 37.5em) {
          width: 100%;
        }
      }

      & > div:last-of-type {
        @media only screen and (max-width: 75em) {
          display: none;
        }
      }

      @media only screen and (max-width: 75em) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media only screen and (max-width: 56.25em) {
        grid-template-columns: 1fr;
      }
    }

    &__img {
      display: block;
      width: 100%;
      height: 25rem;
      object-fit: cover;
      border-top-left-radius: var(--br);
      border-top-right-radius: var(--br);
    }

    &__content {
      display: flex;
      position: relative;
      flex-direction: column;
      padding: 2.6rem;
      min-height: 10rem;
      border: 0.1rem solid var(--c-gray);
      border-bottom-left-radius: var(--br);
      border-bottom-right-radius: var(--br);
      min-width: 0;

      & > a {
        position: absolute;
        bottom: -1.2rem;
        left: 50%;
        background-color: var(--c-white);
        transform: translate(-50%, 0);
      }

      & > h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @media only screen and (max-width: 37.5em) {
          text-overflow: initial;
          white-space: initial;
          overflow: none;
          line-height: var(--lh-2);
        }
      }
    }

    &__desc {
      color: var(--c-black-l-2);
      font-size: var(--fs-1);
      line-height: var(--lh-2);
      margin-top: 1rem;
      min-height: 5rem;
      margin-bottom: 3rem;
    }
  }

  // TRIPS SECTION
  &_trips {
    padding: 8rem 8rem;
    background-color: var(--c-white-d);

    @media only screen and (max-width: 37.5em) {
      padding: 8rem 4rem;
    }

    & > a {
      width: 30rem;
      margin: 0 auto;
    }

    &__container {
      display: grid;
      max-width: 144rem;
      margin: 6rem auto 8rem auto;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 2rem;
      grid-template-rows: repeat(3, 1fr);

      @media only screen and (max-width: 75em) {
        grid-template-rows: repeat(2, 1fr);
      }

      @media only screen and (max-width: 56.25em) {
        margin: 6rem auto;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        gap: 4rem 0;
      }

      &_full {
        display: flex;
        justify-content: center;
      }

      & > div:first-child {
        grid-row: 1 / -1;
        grid-column: 1 / 2;

        @media only screen and (max-width: 75em) {
          grid-row: initial;
        }
      }
    }

    &__img_highlight {
      display: block;
      width: 100%;
      height: 34rem;
      object-fit: cover;
      border-top-left-radius: var(--br);
      border-top-right-radius: var(--br);

      @media only screen and (max-width: 75em) {
        display: none;
        height: 0;
      }
    }

    &__content {
      display: grid;
      gap: 2rem 0;
      height: 100%;
      padding: 3rem 4rem;

      & > h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      @media only screen and (max-width: 37.5em) {
        grid-template-columns: 1fr;
      }

      &_info {
        display: flex;
        margin-right: auto;
      }

      &_left {
        @media only screen and (max-width: 56.25em) {
          margin-right: 2rem;
        }

        @media only screen and (max-width: 37.5em) {
          margin-right: 0 !important;
        }
      }

      &_right {
        display: flex;
        align-self: flex-end;

        @media only screen and (max-width: 75em) {
          justify-self: initial;
          flex-direction: column-reverse;
        }
      }
    }

    &__desc {
      font-size: var(--fs-1);
      margin-top: 1rem;
      color: var(--c-black-l-2);
      line-height: var(--lh-2);
    }

    &__price,
    &__date {
      font-size: var(--fs-1);
      font-weight: 400;
      align-self: flex-end;
      text-align: center;
      border-radius: var(--br);
      padding: 1rem 2rem;
      margin-right: 1rem;

      @media only screen and (max-width: 75em) {
        display: inline-block;
        margin-top: 1rem;
        margin-right: 0;
      }
    }

    &__price {
      color: var(--c-blue);
      border: 0.1rem solid var(--c-blue);
    }

    &__date {
      color: var(--c-green);
      border: 0.1rem solid var(--c-green);

      @media only screen and (max-width: 75em) {
        margin-right: 1rem;
      }
    }
  }

  // NEWSLETTER SECTION
  &_newsletter {
    padding: var(--ms-desktop);
    background-color: var(--c-blue);

    &__content {
      width: 70rem;
      margin: 0 auto;

      @media only screen and (max-width: 56.25em) {
        width: 100%;
        padding: var(--pp-desktop);
      }

      & > h1 {
        margin-bottom: 2rem;
      }

      & > h4 {
        line-height: var(--lh-2);
        width: 56rem;

        @media only screen and (max-width: 37.5em) {
          width: 100% !important;
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      padding: 5rem 6rem;
      background-color: var(--c-white);
      height: 40rem;
      width: 100%;
      border-radius: var(--br);
      border: 0.1rem solid var(--c-gray);
      box-shadow: 0 0.5rem 1rem rgba(154, 160, 185, 0.05),
        0 1.5rem 4rem rgba(166, 173, 201, 0.2);

      @media only screen and (max-width: 37.5em) {
        padding: 5rem 3rem;
      }

      & input {
        @media only screen and (max-width: 25em) {
          min-width: 100%;
        }
      }

      & > button {
        margin-top: auto;
        align-self: flex-start;
        padding: 1.2rem 8rem;

        @media only screen and (max-width: 37.5em) {
          padding: 1.2rem 2rem;
          width: 100%;
        }
      }
    }
  }
}
