.info {
  padding: var(--pp-desktop);

  &_container {
    margin: 5rem auto 10rem auto;
    max-width: 70%;

    @media only screen and (min-width: 75em) {
      max-width: 144rem;
    }
  }

  &_title {
    background-color: var(--c-blue);
    padding: 4rem 4rem;
    width: 100%;
    left: 0;

    & > h2,
    & > p {
      text-align: center;
    }

    & > h2 {
      margin-top: 4rem;
      margin-bottom: 1.5rem;
      color: var(--c-white);
    }

    & > p {
      margin-bottom: 4rem;
      color: var(--c-white);
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0 3rem;

    & > span {
      color: var(--c-black-l);
    }

    & > a {
      padding: 1rem 2rem;
    }
  }
}
