.privacy {
  &_container {
    max-width: 100rem;
    margin: 10rem auto;

    & > h2 {
      text-align: center;
    }

    & > p {
      margin-top: 2rem;
      line-height: var(--lh-3);
      font-size: var(--fs-2);
      color: var(--c-black-l-2);
    }
  }
}
