.trips_listing {
  margin: 6rem 0;
  overflow-y: auto;
  scrollbar-width: thin;

  &__top {
    &_container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &_right {
      display: flex;
      margin-bottom: 0.5rem;

      & > button:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &__list {
    margin-top: 2.6rem;
  }

  &__item {
    display: flex;
    gap: 0 2rem;
    position: relative;
    background-color: var(--c-white);
    padding: 2rem 0;
    border-top: 0.1rem solid var(--c-gray);
  }

  &__amount {
    display: block;
    margin-top: 0.4rem;
    color: var(--c-black-l);
  }

  &__img_container {
    display: block;
    position: relative;

    & > button {
      position: absolute;
      top: 1rem;
      left: 1rem;
      border: none;
    }
  }

  &__difficulty {
    display: flex;
    align-items: center;
    background-color: var(--c-white);
    padding: 0.5rem 1rem;
    border-radius: var(--br);
    font-size: var(--fs);
    font-weight: 700;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    & > p {
      margin-left: 0.8rem;
      color: var(--c-black);
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    height: 18rem;
    width: 24rem;
    border-radius: var(--br);
  }

  &__content {
    line-height: var(--lh-3);
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__participants {
    font-size: var(--fs);
  }

  &__date {
    display: block;
    font-size: var(--fs-1);
    margin-bottom: 1.5rem;
    color: var(--c-black-l);
  }

  &__desc {
    font-size: var(--fs);
    max-width: 50rem;
    color: var(--c-black-l);
  }

  &__checkout {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-self: end;
    justify-self: end;
  }

  &__price {
    font-size: var(--fs);
    font-weight: 700;
    color: var(--c-black-l-3);
    align-self: end;
    margin-bottom: 0.5rem;
  }
}

.trips_map {
  position: sticky;
  top: 8rem;
  width: 100% !important;
  height: calc(100vh - 8rem);

  &_hidden {
    visibility: none;
    display: none;
  }

  &__btn {
    background-color: var(--c-white);
    border: none;
    border-radius: 0.2rem;
    padding: 1rem 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0.1rem 0.4rem -0.1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
  }

  &__btn:hover > &__icon {
    color: var(--c-black-l);
  }

  &__icon {
    height: 2rem;
    width: 2rem !important;
    display: block;
    color: #666;
  }
}
