// TRIPS LIST

.trips_listing {
  margin: 6rem 0;

  &_margin {
    @media only screen and (max-width: 37.5em) {
      margin-top: 46rem;
    }
  }

  &__top {
    &_container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media only screen and (max-width: 37.5em) {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 2rem;
      }
    }

    &_right {
      display: flex;
      margin-bottom: 0.5rem;

      & > button:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &__notification {
    margin: 6rem 0 2rem 0;
    color: var(--c-black-l);
    text-align: center;
  }

  &__list {
    margin-top: 2.6rem;

    &_full {
      margin-top: 2.6rem;
      display: grid;
      gap: 4rem;
      grid-template-columns: repeat(auto-fill, 24rem);

      @media only screen and (max-width: 37.5em) {
        justify-content: center;
        grid-template-columns: 1fr;
        gap: 0;
      }
    }
  }

  &__list_full &__img_container {
    width: 100% !important;
  }

  &__list_full &__img {
    width: 100% !important;
  }

  &__list_full > &__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    border-top: none;

    &:hover {
      transform: none;
    }

    @media only screen and (max-width: 37.5em) {
      padding: 2rem 0;
    }
  }

  &__list_full &__checkout {
    display: flex;
    align-self: initial;
    width: 100%;

    & > div {
      padding: 0.75rem 0;
      width: 40%;
    }

    & > a {
      width: 60%;
      padding: 0.75rem 2rem;
    }
  }

  &__list_full &__notification {
    grid-column: 1 / -1;
  }

  &__item {
    display: flex;
    gap: 0 2rem;
    position: relative;
    background-color: var(--c-white);
    padding: 2rem 0;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-0.2rem);
    }

    @media only screen and (max-width: 37.5em) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  &__amount {
    display: block;
    margin-top: 0.4rem;
    color: var(--c-black-l);
  }

  &__img_container {
    display: block;
    position: relative;

    @media only screen and (max-width: 37.5em) {
      width: 100%;
    }

    & > button {
      position: absolute;
      top: 1rem;
      left: 1rem;
      border: none;
    }
  }

  &__difficulty {
    display: flex;
    align-items: center;
    background-color: var(--c-white);
    padding: 0.5rem 1rem;
    border-radius: var(--br);
    font-size: var(--fs);
    font-weight: 700;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    & > p {
      margin-left: 0.8rem;
      color: var(--c-black);
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    height: 18rem;
    width: 24rem;
    border-radius: var(--br);

    @media only screen and (max-width: 37.5em) {
      width: 100%;
    }
  }

  &__content {
    line-height: var(--lh-3);
    display: flex;
    flex-direction: column;
    width: 100%;

    & > h4 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__participants {
    font-size: var(--fs);
  }

  &__date {
    display: block;
    font-size: var(--fs-1);
    margin-bottom: 1.5rem;
    color: var(--c-black-l);
    text-transform: capitalize;
  }

  &__desc {
    font-size: var(--fs);
    max-width: 50rem;
    color: var(--c-black-l);
  }

  &__price {
    font-size: var(--fs-1);
    font-weight: 400;
    align-self: flex-end;
    text-align: center;
    border-radius: var(--br);
    padding: 0.75rem 2rem;
    margin-right: 1rem;
    color: var(--c-blue);
    border: 0.1rem solid var(--c-blue);

    @media only screen and (max-width: 37.5em) {
      margin-right: 1rem !important;
      padding: 0.75rem 0;
      width: 30% !important;
    }
  }

  &__checkout {
    display: flex;
    margin-top: auto;
    align-self: end;

    @media only screen and (max-width: 37.5em) {
      flex-direction: row !important;
      align-self: initial;
    }

    & > a {
      padding: 0.75rem 8rem;

      @media only screen and (max-width: 37.5em) {
        width: 70% !important;
        padding: 0.75rem 4rem;
        margin-top: 1rem;
      }
    }
  }
}

// TRIPS MAP

.trips_map {
  position: sticky;
  top: 8rem;
  display: block;
  right: auto !important;
  width: 100% !important;
  height: calc(100vh - 8rem);

  @media only screen and (max-width: 75em) {
    position: relative;
    top: 0;
    height: 36rem;
    margin-top: 4rem;
  }

  @media only screen and (max-width: 37.5em) {
    position: absolute;
    top: 4rem;
    left: 0;
    height: 40rem;
  }

  &_hidden {
    visibility: none;
    display: none;
  }

  &__btn {
    background-color: var(--c-white);
    border: none;
    border-radius: 0.2rem;
    padding: 1rem 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0.1rem 0.4rem -0.1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__btn:hover > &__icon {
    color: var(--c-black-l);
  }

  &__icon {
    height: 2rem;
    width: 2rem !important;
    display: block;
    color: #666;
  }
}
