.navbar {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 3.4rem;
  }

  &__link {
    color: var(--c-white);
    font-size: var(--fs-1);
    font-weight: 700;
    transition: all 0.2s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }
}
