.navbar {
  display: flex;

  @media only screen and (max-width: 56.25em) {
    display: none;
  }

  &_footer &__link {
    color: var(--c-blue);
  }

  &__list {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__item:not(:last-child) {
    margin-right: 3.4rem;
  }

  &__link {
    color: var(--c-white);
    font-size: var(--fs-1);
    font-weight: 700;
    transition: all 0.2s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar_hamburger {
  display: none;

  & > button:first-of-type {
    margin-right: 1rem;
  }

  @media only screen and (max-width: 56.25em) {
    display: flex;
  }

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--c-blue);
    z-index: 100;

    & > button {
      font-size: var(--fs-5);
      color: var(--c-white);
      margin-top: 4rem;
      margin-left: 4rem;
      background-color: var(--c-blue-d);
      padding: 1rem 2rem;
      border-radius: var(--br);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--c-white);
        color: var(--c-blue);
      }
    }

    & > ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & li {
      margin-right: 0 !important;
    }

    & li:not(:last-child) {
      margin-bottom: 3rem;
    }

    & a {
      font-size: var(--fs-5);
    }
  }
}

.navbar_footer {
  display: flex !important;

  & > ul {
    @media only screen and (max-width: 56.25em) {
    }

    @media only screen and (max-width: 37.5em) {
      flex-direction: column;
    }
  }

  & > ul li {
    @media only screen and (max-width: 56.25em) {
      margin-right: 1rem !important;
    }

    @media only screen and (max-width: 37.5em) {
      margin-right: 0 !important;
      margin-bottom: 2rem;
    }
  }
}
