.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 8rem;
  background-color: var(--c-blue);
  padding: var(--pp-desktop);
  z-index: 10;

  &_white {
    background-color: var(--c-white) !important;
    box-shadow: 0 2px 4px rgba(3, 27, 78, 0.1);

    & nav button {
      background-color: var(--c-blue);
    }

    & nav:first-of-type a {
      color: var(--c-blue);
    }

    & nav:first-of-type svg {
      color: var(--c-white);
    }
  }

  &_white > &__content {
    max-width: 144rem;
  }

  &__content {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    margin: 0 auto;

    &_contained {
      max-width: 144rem;
    }
  }

  &__hero {
    display: flex;
    flex-direction: column;
    width: 90rem;
    margin: 0 auto;
    text-align: center;
    padding: 8rem 0;

    @media only screen and (max-width: 75em) {
      width: 100%;
    }

    @media only screen and (max-width: 37.5em) {
      padding: 4rem 0;
      text-align: start;
    }

    & > h1 {
      @media only screen and (max-width: 75em) {
        font-size: max(3.2rem, 4vw) !important;
      }

      @media only screen and (max-width: 37.5em) {
        font-size: var(--fs-5) !important;
      }
    }

    & > p {
      color: var(--c-white);
      padding: 3rem 2rem;
      line-height: 1.58;

      @media only screen and (max-width: 75em) {
        font-size: 1.4vw !important;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: var(--fs-1) !important;
      }

      @media only screen and (max-width: 37.5em) {
        padding: 3rem 0;
      }
    }
  }

  &__cta {
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    gap: 0 3rem;

    @media only screen and (max-width: 37.5em) {
      flex-direction: column;
      align-items: flex-start;
    }

    & > a {
      @media only screen and (max-width: 37.5em) {
        padding: 1.6rem 4rem;
        font-size: var(--fs-3);
        text-align: center;
      }
    }

    & > a:not(:first-of-type) {
      @media only screen and (max-width: 37.5em) {
        display: none;
      }
    }
  }

  &_extended {
    height: inherit;
    position: relative;
    padding: var(--pp-desktop-h);

    @media only screen and (max-width: 56.25em) {
      padding: var(--pp-desktop);
    }

    & > .header__content {
      height: 10rem;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background: url(/home-background.png) no-repeat center;
      background-size: cover;
      bottom: 0;
      left: 0;
      z-index: -2;
    }

    &::before {
      content: '';
      background: url(/wave.svg) no-repeat top;
      background-size: cover;
      display: block;
      position: absolute;
      height: 19rem;
      width: 100%;
      bottom: 0;
      right: 0;
      z-index: -1;

      @media only screen and (max-width: 56.25em) {
        background: none;
      }
    }
  }
}
